<div style="flex-direction: column;" class="bg-slate-100 h-full w-screen flex items-center">
    <div class="h-2/6 w-2/6 bg-white rounded border-2 border-black mt-4 flex flex-wrap justify-center content-around">
        <input
            class=" w-full mx-5 mt-1 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-10/12 rounded-md sm:text-sm focus:ring-1"
            placeholder="Nome" [(ngModel)]="tarefaModelo.nome">
    
        <select class="rounded border-2 border-black" [(ngModel)]="tarefaModelo.propriedades">
            <option *ngFor="let propriedade of propriedades" [ngValue]="propriedade">{{propriedade.nome}}</option>
        </select>
        <button class="break-words rounded border-2 border-black hover:border-blue-400 bg-white px-8 py-2 text-lg h-12"
            (click)="cadastrarTarefa()">cadastrarTarefa</button>
    </div>

    <div class="flex justify-around w-screen flex-wrap">

        <div id="coluna" *ngFor="let propriedade of propriedades; index as indice">

            <p class="text-center font-black text-4xl" style="height: auto;
            width: auto;
            min-width: 35vh;">{{propriedade.nome}}</p>

            <div *ngFor="let tarefa of tarefas;index as index">

                <div>

                    <div id="tarefas">

                        <button style="border:0;align-self:end;background-color: transparent;justify-self: end;"
                            (click)="deletaTarefa(indice)">X</button>
                        <p>
                            Tarefa: {{ tarefa.nome }}
                        </p>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>