
<div class="h-2/6 w-2/6 bg-white rounded border-2 border-black mt-4 flex flex-col space-4-x flex-wrap justify-center content-around">
    <input [(ngModel)]="user.id" placeholder="ID">
    <input [(ngModel)]="user.nome" placeholder="Nome">
    <input [(ngModel)]="user.password" placeholder="Senha">
    <input [(ngModel)]="user.email" placeholder="Email">
    <button class="break-words rounded border-2 border-black hover:border-blue-400 bg-white px-8 py-2 text-lg h-12" (click)="cadastrarUsuario()">Registrar</button>
</div>